@model IEnumerable<PA.Education.Dal.Models.Lecture>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dersler</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Başlık
            </th>
            <th>
                Açıklama
            </th>
            <th>
                Durum
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <span>Aktif</span>
                    }
                    else
                    {
                        <span>Pasif</span>
                    }
                </td>
                <td>
                    <span>@item.CreatedDate.Value.ToString("dd MMM yyyy  hh:mm:ss")</span> 
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
